<div class="top row aling-items-center justify-content-center">
    <div class="col-sm-6">
<div class="card card_title">
    <div class="card-head"><h2>Iniciar Sesión</h2></div>
    <div class="card-body">
        En este apartado el usuario puede iniciar sesión ingresando con su correo y contraseña previamente registrados. 
    </div>
    </div>
    <br>
  
      <form>
        <div class="mb-3">
          <label for="exampleInputEmanil1" class="form-label"><b>Ingrese su correo</b> </label>
          <input type="email" class="form-control" name="email" [(ngModel)]="email">
        </div>
        <br>
        <button routerLink="/login" class="btn btn-secondary button" type="button">Regresar a Inicio de Sesión</button>
        <button class="btn btn-primary button" type="button" (click)="forgotPassword()">Reestablecer contraseña</button>
        
      </form>

    </div>
</div>